{% extends "article/框.html" %}

{% block content %}
	<a href="{% url '加新文章' %}">加新文章</a>
	        	
	{% if latest_poll_list %}
	    <table>
	    {% for poll in latest_poll_list %}
	    	<tr>
	    	<td>{{ poll.date|date:"Y-m-d" }}</td>
	    	<td>{{ poll.category }}</td>
	    	<td>{{ poll.origin_title }}</td>
	        <td>
	        	<a href="{% url '改分類佮原文' poll.id %}">改分類</a>
	       	</td>
	        <td>
	        	<a href="{% url '改國語斷詞' poll.id %}">斷詞</a>
	       	</td>
	        <td>
	        	<a href="{% url '改閩南語翻譯' poll.id %}">翻譯</a>
	       	</td>
	    	<td>
	        	<a href="{% url '看文章' poll.id %}">看</a>
	        </td>
	        </tr>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>這馬無文章。</p>
	{% endif %}
{% endblock %}