{% extends "article/框.html" %}

{% block content %}
	{% if article %}
		<form action="." method="post">{% csrf_token %}
		<table>
			<tr>
				<td class="penn5khua3">國語斷詞
				</td>
				<td class="penn5khua3">閩南語翻譯
				</td>
			</tr>
			<tr>
				<td>{% if article.title.errors %}
					<p>{{ article.title.errors }}</p>{% endif %} 
					{{ article.title }}
				</td>
				<td>{% if article.title_translation.errors %}
					<p>{{ article.title_translation.errors }}</p>{% endif %}
					{{ article.title_translation }}
					<input type="submit" value="確定" />
				</td>
			</tr>
		</table>
		<div id='轉'>
			<table>
				<tr>
					<td>{% if article.content.errors %}
						<p>{{ article.content.errors }}</p>{% endif %}
						{{ article.content }}
					</td>
					<td>{% if article.JiaoLuo.errors %}
						<p>{{ article.JiaoLuo.errors }}</p>{% endif %}
						{{ article.JiaoLuo }}
					</td>
				</tr>
			</table>
		</div>
		<input type="submit" value="確定" />
		</form>
	{% else %}
	    <p>No article are available.</p>
	{% endif %}
{% endblock %}