table.資料 {
	width: 100%;
	font-size: 133%;
}

table.資料 td.倒爿 {
	width: 38%;
}

table.資料 td.正爿 {
	width: 58%;
}

table.資料 td.行號 {
	width: 2%;
}

table.資料 td.行號 textarea.文章 {
	width: 2em;
}

textarea.文章 {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	height: 2000px;
	white-space: nowrap;
}

.橫線 {
	background-image: url('橫線.jpg');
	/*background-size: 150%;*/
	background-repeat: repeat;
	/*100%=>20px*/
	font-size: 100%;
	line-height: 40px;
}
textarea,input
{
	font-size: inherit;
}