<!DOCTYPE html>
<html>
<head>
    <title>{% block 斷詞標題 %}華語台語雙語語料庫系統{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static '文章/版面.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '文章/style.css' %}" />
</head>

<body>
    <!-- SIDEBAR -->
    <div id="sidebar"> {% block sidebar %}{% endblock %} </div>

    <div id="container">

        <!-- MENU -->

        <div id="menu">
            {% block nav-global %}
				<span class="英文">iCorpus</span>
				<span>華語台語雙語語料庫系統 | <a href="{% url '首頁' %}">轉頭頁</a>
					{% if 有登入無 %}
					 | <a href="{% url '登出' %}">登出</a>
					{% endif %}
				</span>
            {% endblock %}
        </div>
	<br/>
        <!-- CONTENT -->

        <div id="斷詞內容">
            {% block 斷詞內容 %}{% endblock %}
        </div>
    </div>

</body>
</html>