{% extends "文章/框.html" %}

{% block 斷詞內容 %}
	{% if 何澤政文章 %}
	<table class="資料">
		<tr>
			<td>{{ 何澤政文章.分類 }}</td>
			<!-- <td colspan="2">{{ 文章.date }}</td> -->
			<td>頭一擺翻譯時間：{{ 何澤政文章.頭一擺翻譯時間|date:"Y-m-d" }}
			｜ 上尾修改時間：{{ 何澤政文章.上尾修改時間|date:"Y-m-d" }}
			{% if 有登入無 %}
			｜ <a href="{% url '改閩南語翻譯' 何澤政文章.id %}">改翻譯</a>
			{% endif %}
			</td>
		</tr>
		<tr>
			<!-- <td>華語原文</td> -->
			<th>華語斷詞</th>
			<th>臺語翻譯</th>
		</tr>
		<tr>
			<!-- <td>{{ 文章.原本標題 }}</td> -->
			<td>{{ 何澤政文章.斷詞標題 }}</td>
			<td>{{ 何澤政文章.教羅標題 }}</td>
		</tr>
		<tr>
			<!-- <td>{{ 文章.原本內容|linebreaksbr }}</td> -->
			<td class="橫線">{{ 何澤政文章.斷詞內容|linebreaksbr }}</td>
			<td class="橫線">{{ 何澤政文章.教羅內容|linebreaksbr }}</td>
		</tr>
	</table>
	{% else %}
	<p>無文章</p>
	{% endif %}
{% endblock %}