{% if article %}
    <table>
    	<tr><td>
        {{ article.category }}
        </td><td colspan="2">
        {{ article.date }}
        </td></tr>
        <tr><td>
        {{ article.origin_title }}
        </td><td>
        {{ article.title }}
        </td><td>
        {{ article.title_translation }}
        </td></tr>
        <tr><td>
        {{ article.origin_content }}
        </td><td>
        {{ article.content }}
        </td><td>
        {{ article.JiaoLuo }}
        {{ article.TaiLuo }}
        {{ article.HaoLuo }}
        </td></tr>
    </table>
{% else %}
    <p>No article are available.</p>
{% endif %}